<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Heisenburg Redshifters</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./index.html">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="mainContainer">
    <br /> <br />
    {{form-open 'record' url class='form'}}
    {{form-file 'fileupload'}}
    <br /> <br />
    {{#data}}
    <label value="questionOne">{{ questionOne }}</label>
    <input type="radio" name="questionOne" value="0" />
    <input type="radio" name="questionOne" value="1" />
    <input type="radio" name="questionOne" value="2" />
    <input type="radio" name="questionOne" value="3" />
    <input type="radio" name="questionOne" value="4" />
    <input type="radio" name="questionOne" value="5" />
    <input type="radio" name="questionOne" value="6" />
    <input type="radio" name="questionOne" value="7" />
    <input type="radio" name="questionOne" value="8" />
    <input type="radio" name="questionOne" value="9" />
    <br />
    <label value="hello">{{ questionTwo }}</label>
    <input type="radio" name="questionTwo" value="0" />
    <input type="radio" name="questionTwo" value="1" />
    <input type="radio" name="questionTwo" value="2" />
    <input type="radio" name="questionTwo" value="3" />
    <input type="radio" name="questionTwo" value="4" />
    <input type="radio" name="questionTwo" value="5" />
    <input type="radio" name="questionTwo" value="6" />
    <input type="radio" name="questionTwo" value="7" />
    <input type="radio" name="questionTwo" value="8" />
    <input type="radio" name="questionTwo" value="9" />
    <br />
    <label value="hello">{{ questionThree }}</label>
    <input type="radio" name="questionThree" value="0" />
    <input type="radio" name="questionThree" value="1" />
    <input type="radio" name="questionThree" value="2" />
    <input type="radio" name="questionThree" value="3" />
    <input type="radio" name="questionThree" value="4" />
    <input type="radio" name="questionThree" value="5" />
    <input type="radio" name="questionThree" value="6" />
    <input type="radio" name="questionThree" value="7" />
    <input type="radio" name="questionThree" value="8" />
    <input type="radio" name="questionThree" value="9" />
    <br />
    <label value="hello">{{ questionFour }}</label>
    <input type="radio" name="questionFour" value="0" />
    <input type="radio" name="questionFour" value="1" />
    <input type="radio" name="questionFour" value="2" />
    <input type="radio" name="questionFour" value="3" />
    <input type="radio" name="questionFour" value="4" />
    <input type="radio" name="questionFour" value="5" />
    <input type="radio" name="questionFour" value="6" />
    <input type="radio" name="questionFour" value="7" />
    <input type="radio" name="questionFour" value="8" />
    <input type="radio" name="questionFour" value="9" />
    {{/data}}
    <br /> <br />
    {{form-submit 'save' 'Submit form'}}
    {{form-close}}
</div>

<script type="text/javascript">
    function runTableQuery() {
        $.ajax({ url: "/api/data", method: "GET" })
            .then(function (theData) {
                console.log("Hello World" + theData);
            });
    }
</script>