<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Heisenburg Redshifters</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./index.html">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="mainContainer">
    <a href="/results">Go To Results</a>
    <br /> <br />
    {{form-open 'record' url class='form' action="/api/submit" method="post" }}
    {{!-- {{form-file 'fileupload'}} --}}
    <h1>Detect Faces:</h1>
    Enter the URL to an image that includes a face or faces, then click
    the <strong>Analyze face</strong> button.<br><br>
    Image to analyze: <input type="text" name="inputImage" id="inputImage"
        value="https://upload.wikimedia.org/wikipedia/commons/c/c3/RH_Louise_Lillian_Gish.jpg" />
    <button onclick="processImage()">Analyze face</button><br><br>
    <div id="wrapper" style="width:1020px; display:table;">
        <div id="jsonOutput" style="width:600px; display:table-cell;">
            Response:<br><br>
            <textarea id="responseTextArea" class="UIInput" style="width:580px; height:400px;"></textarea>
        </div>
        <div id="imageDiv" style="width:200px; display:table-cell;">
            Source image:<br><br>
            <img id="sourceImage" width="200" />
        </div>
    </div>

    <input type="hidden" name="anger" id="h1" value="true">
    <input type="hidden" name="contempt" id="h2" value="false">
    <input type="hidden" name="disgust" id="h3" value="false">
    <input type="hidden" name="fear" id="h4" value="false">
    <input type="hidden" name="happiness" id="h5" value="false">
    <input type="hidden" name="neutral" id="h6" value="false">
    <input type="hidden" name="sadness" id="h7" value="false">
    <input type="hidden" name="surprise" id="h8" value="false">
    <input type="hidden" name="eyeMakeup" id="h9" value="false">
    <input type="hidden" name="lipMakeup" id="h10" value="false">
    <input type="hidden" name="moustache" id="h11" value="false">
    <input type="hidden" name="beard" id="h12" value="false">
    <input type="hidden" name="smile" id="h13" value="false">
    <br /> <br />
    {{#data}}
    <label value="questionOne">{{ questionOne }}</label>
    <input type="radio" name="questionOne" checked value="0" />0
    <input type="radio" name="questionOne" value="1" />1
    <input type="radio" name="questionOne" value="2" />2
    <input type="radio" name="questionOne" value="3" />3
    <input type="radio" name="questionOne" value="4" />4
    <input type="radio" name="questionOne" value="5" />5
    <input type="radio" name="questionOne" value="6" />6
    <input type="radio" name="questionOne" value="7" />7
    <input type="radio" name="questionOne" value="8" />8
    <input type="radio" name="questionOne" value="9" />9
    <br />
    <label value="questionTwo">{{ questionTwo }}</label>
    <input type="radio" name="questionTwo" checked value="0" />0
    <input type="radio" name="questionTwo" value="1" />1
    <input type="radio" name="questionTwo" value="2" />2
    <input type="radio" name="questionTwo" value="3" />3
    <input type="radio" name="questionTwo" value="4" />4
    <input type="radio" name="questionTwo" value="5" />5
    <input type="radio" name="questionTwo" value="6" />6
    <input type="radio" name="questionTwo" value="7" />7
    <input type="radio" name="questionTwo" value="8" />8
    <input type="radio" name="questionTwo" value="9" />9
    <br />
    <label value="questionThree">{{ questionThree }}</label>
    <input type="radio" name="questionThree" checked value="0" />0
    <input type="radio" name="questionThree" value="1" />1
    <input type="radio" name="questionThree" value="2" />2
    <input type="radio" name="questionThree" value="3" />3
    <input type="radio" name="questionThree" value="4" />4
    <input type="radio" name="questionThree" value="5" />5
    <input type="radio" name="questionThree" value="6" />6
    <input type="radio" name="questionThree" value="7" />7
    <input type="radio" name="questionThree" value="8" />8
    <input type="radio" name="questionThree" value="9" />9
    <br />
    <label value="questionFour">{{ questionFour }}</label>
    <input type="radio" name="questionFour" checked value="0" />0
    <input type="radio" name="questionFour" value="1" />1
    <input type="radio" name="questionFour" value="2" />2
    <input type="radio" name="questionFour" value="3" />3
    <input type="radio" name="questionFour" value="4" />4
    <input type="radio" name="questionFour" value="5" />5
    <input type="radio" name="questionFour" value="6" />6
    <input type="radio" name="questionFour" value="7" />7
    <input type="radio" name="questionFour" value="8" />8
    <input type="radio" name="questionFour" value="9" />9
    {{/data}}
    <br /> <br />
    {{form-submit 'save' 'Submit form'}}
    {{form-close}}
</div>

<script type="text/javascript">
    function runTableQuery() {
        $.ajax({ url: "/api/data", method: "GET" })
            .then(function (theData) {
                console.log("Hello World" + theData);
            });
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/faceToMoodToSurvey.js"></script>