<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Heisenburg Redshifters</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./index.html">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="mainContainer">
    <a href="/results">Go To Results</a>
    <br /> <br />
    {{form-open 'record' url class='form' action="/api/submit" method="post" }}
    {{form-file 'fileupload'}}
    <input type="hidden" name="anger" value=0>
    <input type="hidden" name="contempt" value=1>
    <input type="hidden" name="disgust" value=1>
    <input type="hidden" name="fear" value=1>
    <input type="hidden" name="happiness" value=1>
    <input type="hidden" name="neutral" value=1>
    <input type="hidden" name="sadness" value=1>
    <input type="hidden" name="surprise" value=1>
    <input type="hidden" name="eyeMakeup" value=1>
    <input type="hidden" name="lipMakeup" value=1>
    <input type="hidden" name="moustache" value=1>
    <input type="hidden" name="beard" value=1>
    <input type="hidden" name="smile" value=1>
    <br /> <br />
    {{#data}}
    <label value="questionOne">{{ questionOne }}</label>
    <input type="radio" name="questionOne" checked value="0" />0
    <input type="radio" name="questionOne" value="1" />1
    <input type="radio" name="questionOne" value="2" />2
    <input type="radio" name="questionOne" value="3" />3
    <input type="radio" name="questionOne" value="4" />4
    <input type="radio" name="questionOne" value="5" />5
    <input type="radio" name="questionOne" value="6" />6
    <input type="radio" name="questionOne" value="7" />7
    <input type="radio" name="questionOne" value="8" />8
    <input type="radio" name="questionOne" value="9" />9
    <br />
    <label value="questionTwo">{{ questionTwo }}</label>
    <input type="radio" name="questionTwo" checked value="0" />0
    <input type="radio" name="questionTwo" value="1" />1
    <input type="radio" name="questionTwo" value="2" />2
    <input type="radio" name="questionTwo" value="3" />3
    <input type="radio" name="questionTwo" value="4" />4
    <input type="radio" name="questionTwo" value="5" />5
    <input type="radio" name="questionTwo" value="6" />6
    <input type="radio" name="questionTwo" value="7" />7
    <input type="radio" name="questionTwo" value="8" />8
    <input type="radio" name="questionTwo" value="9" />9
    <br />
    <label value="questionThree">{{ questionThree }}</label>
    <input type="radio" name="questionThree" checked value="0" />0
    <input type="radio" name="questionThree" value="1" />1
    <input type="radio" name="questionThree" value="2" />2
    <input type="radio" name="questionThree" value="3" />3
    <input type="radio" name="questionThree" value="4" />4
    <input type="radio" name="questionThree" value="5" />5
    <input type="radio" name="questionThree" value="6" />6
    <input type="radio" name="questionThree" value="7" />7
    <input type="radio" name="questionThree" value="8" />8
    <input type="radio" name="questionThree" value="9" />9
    <br />
    <label value="questionFour">{{ questionFour }}</label>
    <input type="radio" name="questionFour" checked value="0" />0
    <input type="radio" name="questionFour" value="1" />1
    <input type="radio" name="questionFour" value="2" />2
    <input type="radio" name="questionFour" value="3" />3
    <input type="radio" name="questionFour" value="4" />4
    <input type="radio" name="questionFour" value="5" />5
    <input type="radio" name="questionFour" value="6" />6
    <input type="radio" name="questionFour" value="7" />7
    <input type="radio" name="questionFour" value="8" />8
    <input type="radio" name="questionFour" value="9" />9
    {{/data}}
    <br /> <br />
    {{form-submit 'save' 'Submit form'}}
    {{form-close}}
</div>

<script type="text/javascript">
    function runTableQuery() {
        $.ajax({ url: "/api/data", method: "GET" })
            .then(function (theData) {
                console.log("Hello World" + theData);
            });
    }
</script>